.header-toolbar {
  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .left-aligned {
    margin-right: auto;
  }

  .center-aligned {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .right-aligned {
    margin-left: auto;
  }

  .register-icon {
    margin-left: 10px;
  }
}
