.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

.content-wrap {
  flex: 1;
  padding-bottom: 20px;
}

.enderecos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.endereco, .novo-endereco-form {
  flex: 1;
  min-width: 250px;
  max-width: calc(33.333% - 20px);
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.endereco.principal {
  border-color: #FF1493;
  background-color: #fb94c76e;
}

button {
  background-color: #FF69B4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;

  &:hover {
    background-color: #FF1493;
  }
}

.endereco-form input, .novo-endereco-form input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.adicionar-endereco {
  background-color: #FF69B4;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;

  &:hover {
    background-color: #FF1493;
  }
}

.novo-endereco-form {
  width: 100%;
  max-width: none;
  margin-bottom: 20px;
}

// Estilos responsivos
@media (max-width: 768px) {
  .enderecos-lista {
    flex-direction: column;
  }

  .endereco, .novo-endereco-form {
    max-width: 100%;
  }
}
