<div class="login-container">
  <form class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Digite seu email"
        [formControl]="email"
        (blur)="atualizarMensagemDeErro()"
        required
      >
      <mat-icon matSuffix>email</mat-icon>
      @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        placeholder="Digite sua senha"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Ocultar senha'"
        [attr.aria-pressed]="hide()"
      >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button color="accent">
        <mat-icon>person_add</mat-icon>
        Cadastrar
      </button>
    </div>
  </form>
</div>
