<div class="cart-container">
  <h1 class="cart-title">Seu Carrinho</h1>

  <mat-card *ngFor="let item of cartItems" class="cart-item">
    <mat-card-content>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <p >Quantidade: {{ item.quantity }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Preço unitário: R$ {{ item.price.toFixed(2) }}</p>
      <p>Subtotal: R$ {{ (item.price * item.quantity).toFixed(2) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="remover" (click)="removeItem(item)">Remover</button>
      <button mat-button (click)="decreaseQuantity(item)">-</button>
      <button mat-button (click)="increaseQuantity(item)">+</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="cartItems.length > 0" class="cart-summary">
    <mat-card-content>
      <h2>Resumo do Pedido</h2>
      <p>Total de itens: {{ getTotalItems() }}</p>
      <p>Valor total: R$ {{ getTotalPrice().toFixed(2) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="finalizar-compra">Finalizar Compra</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="cartItems.length === 0" class="empty-cart">
    <mat-card-content>
      <p>Seu carrinho está vazio.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/home" class="continuar-comprando" (click)="navigateToHome()">Continuar Comprando</button>
    </mat-card-actions>
  </mat-card>
</div>
